// ---------------------------------------------------------
// This file containes all @font-face declarations, if any.
// ---------------------------------------------------------

@font-face {
    font-family: 'Noto-Sans';
    src: font('Noto_Sans_HK/NotoSansHK-Thin.otf') format('opentruetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Sans';
    src: font('Noto_Sans_HK/NotoSansHK-Light.otf') format('opentruetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Sans';
    src: font('Noto_Sans_HK/NotoSansHK-Regular.otf') format('opentruetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Sans';
    src: font('Noto_Sans_HK/NotoSansHK-Medium.otf') format('opentruetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Sans';
    src: font('Noto_Sans_HK/NotoSansHK-Bold.otf') format('opentruetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Noto-Sans';
    src: font('Noto_Sans_HK/NotoSansHK-Black.otf') format('opentruetype');
    font-weight: 900;
    font-style: normal;
}