.home-page{
    .subtitle{
        position: relative;

        &::after{
            content:" ";
            display:block;
            height: 4px;
            width: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
            box-shadow: 5px 5px 15px $blue;

            @include border-radius(50%);
        }
    }

    .icon-box{
        width:120px;
        height:120px;
        margin:auto;
        border: solid 1px $blue;
        position: relative;
        
        i{
            position: absolute;
            top:50%;
            left:0;
            right:0;
            transform: translateY(-50%);
        }
    }

    .banner{
        height: 467px;
        padding: {
            top: 80px;
            bottom: 80px;
        }

        &.first{
            background: transparent image('banner_first.jpg') no-repeat 0 0;
            background-size: cover;
            background-attachment: fixed;
        }
    }
}