// ---------------------------------------------------------
// This file containes all application-wide Sass variables.
// ---------------------------------------------------------

// Color system
$gray-555: #555;
// FONTS
$font-family-sans-serif: 'Noto-Sans', sans-serif;
// PATHS
$base-url: '/assets/' !default;
// ENABLE BOOTSTRAP GRADIENTS
$enable-gradients: true;